header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#caption {
    font-weight: 600;
}

.list-bid {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid grey;
}