<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ремонт электроники</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="menu">
                <div class="item-menu">Услуги</div>
                <div class="item-menu">О нас</div>
                <div class="item-menu">Контакты</div>
            </div>
            <div class="header-contact">
                <p>Республика Тыва г. Кызыл ул Интернациональная 105</p>
            </div>
        </div>
        <div class="header-main">
            <div class="logo">HEAL</div>
            <div class="category">
                <div id="phone" class="item-category">
                    <p>Телефоны</p>
                    <div id="phone-list" class="list-hide">
                        <div class="name">Samsung</div>
                        <div class="name">Iphone</div>
                        <div class="name">Xiaomi</div>
                        <div class="name">Honor</div>
                        <div class="name">Poco</div>
                    </div>
                </div>
                <div id="tablet" class="item-category">
                    <p>Планшеты</p>
                    <div id="tablet-list" class="list-hide">
                        <div class="name">Ipad</div>
                        <div class="name">Asus</div>
                        <div class="name">Lenovo</div>
                        <div class="name">Samsung</div>
                    </div>
                </div>
                <div id="notebook" class="item-category">
                    <p>Ноутбуки</p>
                    <div id="notebook-list" class="list-hide">
                        <div class="name">Asus</div>
                        <div class="name">Lenovo</div>
                        <div class="name">Ardor</div>
                        <div class="name">MSI</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
    </main>
    <footer></footer>
    <script src="index.js"></script>
</body>
</html>